@import "o-grid/main";
@import "o-colors/main";
@import "o-expander/main";
@import "o-link-list/main";

@import "src/scss/color-use-cases";


.o-section-head {
  @include oColorsFor(o-section-head);
}

.o-section-head__inner {
  @include oGridContainer();
}

.o-section-head__container {
  @include oGridRow();
}

.o-section-head__title-container {
  @include oGridColspan((default: 12, S: 12, M: 7));
}
.o-section-head__nav-item-container {
  @include oGridColspan((default: 12, S: 12, M: 5));
}

.o-section-head__nav-item-container {
  column-count: 2;
}

.o-section-head__nav-item-list {
  @include oLinkListItemContainer;
}

.o-section-head__nav-item-toggler {
  width: 100%;
  display: block;
  text-align: left;
  &:hover {
    @include oColorsFor(o-section-head__nav-item--hover);
  }
}

.o-section-head__nav-item {
  @include oLinkListItem();
  page-break-inside: avoid;
  break-inside: avoid;
}

/* If JS hasn't loaded, never show the toggler */
.core .o-section-head__nav-item-toggler {
  display: none;
}

@include oGridRespondTo($until: M) {
  /* If JS has loaded, set a max-height for o-expandable */
  .enhanced .o-section-head__nav-item-list {
    max-height: 0;
  }
}

@include oGridRespondTo($until: XL) {
  .o-section-head__nav-item-container {
    column-count: 1;
  }
}
