@import "o-grid/main";
@import "o-colors/main";
@import "o-ft-icons/main";
@import "o-expander/main";
@import "o-link-list/main";

$o-typography-is-silent: false;
@import "o-typography/main";

$o-fonts-is-silent: false;
@include oFontsInclude(MetricWeb, $weight: regular);
@include oFontsInclude(MetricWeb, $weight: bold);


@import "src/scss/color-use-cases";

.o-section-head {
  @include oGridContainer();
  @include oColorsFor(o-section-head);
}

.o-section-head__inner {
  @include oGridRow();
}

.o-section-head__title-container,
.o-section-head__related-item-container {
    @include oGridColspan((default: 12, S: 12, M: 6));
}

.o-section-head__title {
  @include oTypographySans(xl);
  margin: 0 10px 15px 0;
}

.o-section-head__related-item-container {
  column-count: 2;
}

.o-section-head__related-item-container-list {
  @include oGridRow();
  @include oLinkListItemContainer;

}

.o-section-head__related-item {
  @include oLinkListItem();
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

}

.o-section-head__related-item-title-button {
  display: none;
}


@include oGridRespondTo($until: M) {

  .o-js .o-section-head__related-item-container-list {
    max-height:0;
  }

  /* rename to nav toggler */
  .o-section-head__related-item-title-button {
    @include oTypographySans(s);
    width: 100%;
    display:block;
    text-align: left;
    &:hover {
      @include oColorsFor(o-section-head__related-item--hover);
    }
  }
}
