@import "o-grid/main";
@import "o-colors/main";
@import "o-expander/main";
@import "o-link-list/main";
@import "o-typography/main";

@include oFontsInclude(MetricWeb, $weight: light);
@include oFontsInclude(MetricWeb, $weight: bold);

@import "src/scss/color-use-cases";


.o-section-head {
  @include oGridContainer();
  @include oColorsFor(o-section-head);
}

.o-section-head__inner {
  @include oGridRow();
}

.o-section-head__title-container,
.o-section-head__related-item-container {
  @include oGridColspan((default: 12, S: 12, M: 6));
}

.o-section-head__title {
  @include oTypographySans(xl);
}

.o-section-head__related-item-container {
  -webkit-column-count: 2;
  column-count: 2;
}

.o-section-head__related-items {
  @include oLinkListItemContainer;
}

.o-section-head__related-item-title-toggler {
  @include oTypographySans(s);
  width: 100%;
  display:block;
  text-align: left;
  &:hover {
    @include oColorsFor(o-section-head__related-item--hover);
  }
}

.o-section-head__related-item {
  @include oLinkListItem();
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

@include oGridRespondTo($until: M) {
  .o-section-head__related-items {
    max-height:0;
  }
  .o-section-head__related-item-container {
    -webkit-column-count: 1;
    column-count: 1;
  }
}
