<div class="o-section-head" data-o-component="o-section-head">
	<div>
		<div>Section title</div> <!-- maybe this should be a heading?-->
		<button>Some button</button>
	</div>
  <div>
    <aside> <!-- maybe this should be a nav?-->
      related links <!-- what should this be?-->
      <ol><!-- maybe this should be a ul?-->
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
      </ol>
    </aside>
  </div>
</div>
