<div class="o-section-head" data-o-component="o-section-head">
	<div class="o-section-head__inner">
		<div class="o-section-head__title-container">
			<div class="o-section-head__title">Section title</div> <!-- maybe this should be a heading?-->
		</div>
	  <div class="o-section-head__related-item-container">
	    <aside> <!-- maybe this should be a nav?-->
	      <div class='o-section-head__related-item-title'>related</div> <!-- what should this be?-->
	      <ol><!-- maybe this should be a ul?-->
	        <li class="o-section-head__related-item"><a href='#'>item 1</a></li>
	        <li class="o-section-head__related-item"><a href='#'>item 2</a></li>
	        <li class="o-section-head__related-item"><a href='#'>item 3</a></li>
	        <li class="o-section-head__related-item"><a href='#'>item 4</a></li>
	        <li class="o-section-head__related-item"><a href='#'>item 5</a></li>
	        <li class="o-section-head__related-item"><a href='#'>item 6</a></li>
	        <li class="o-section-head__related-item"><a href='#'>item 7</a></li>
	      </ol>
	    </aside>
	  </div>
	</div>
</div>
