<div class="o-section-head o--if-js" data-o-component="o-section-head">
	<div class="o-section-head__inner">
		<div class="o-section-head__title-container">
			<h1 class="o-section-head__title">Section title</h1> <!-- maybe this should be a heading?-->
		</div>
	  <div class="o-section-head__related-item-container o-expander"
				data-o-expander-collapsed-toggle-text="RELATED"
				data-o-expander-expanded-toggle-text="RELATED"
				data-o-expander-shrink-to="height"
				data-o-component="o-expander" >
        <div class="o-section-head__related-item" href='#'>item 1</div>
        <div class="o-section-head__related-item" href='#'>item 2</div>
        <div class="o-section-head__related-item" href='#'>item 3</div>
        <div class="o-section-head__related-item" href='#'>item 4</div>
        <div class="o-section-head__related-item" href='#'>item 5</div>
        <div class="o-section-head__related-item" href='#'>item 6</div>
        <div class="o-section-head__related-item" href='#'>item 7</div>
	    </nav>
	  </div>
	</div>
</div>
